body {
  background-color: rgb(52, 52, 52);
  color: whitesmoke;
  font-size: 16px;
}

p {
  font-size: 16px;
  color: whitesmoke;
  margin-left: 10%;
  margin-right: 10%;
  letter-spacing: 0.4px;
}

h1 {
  color: floralwhite;
  font-size: 52px;
  text-align: center;
  font-style: bold;
  text-shadow: -2px 2px rgb(193, 193, 193);
}

h2 {
  color: rgb(235, 235, 235);
  font-size: 28px;
  text-align: center;
}

h3 {
  color: rgb(235, 235, 235);
  font-size: 24px;
  margin-left: 10%;
  margin-right: 10%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.centered {
  text-align: center;
}

.right {
  float:right;
  text-align: right;
}

.left {
  float: left;
  text-align: left;
}

table {
  font-size: 16px;
  color: whitesmoke;
  text-align: center;
  border-collapse: collapse;
  padding: 50px;
  width: 60%;
}

a {
  text-decoration: underline;
  color: lightblue;
  font-size: 16px;
}

.ten-margin {
  margin-left: 10%;
  margin-right: 10%;
}